<p id="notice"><%= notice %></p>
<% if @budget %>
<h1><%= @budget.name %></h1>
<%= link_to 'Edit', edit_budget_path(@budget) %> |
<%= link_to 'Back', budgets_path %>
<% else %>
<h1>There is not current budget</h1>
<% end %>
